html, body {
    height: 100%;
    background: linear-gradient(180deg, rgba(131,164,212,1) 0%, rgba(182,251,255,1) 100%);
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1354ed;
}
  
nav li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor:pointer;
    font-size:18px;
}

.right1{
    float:right;
}
  
.left1{
    float:left;
}
  
a{
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}
  
a:hover{
    color:#05fff7; 
    text-decoration:none; 
    cursor:pointer;  
}
  
nav ul li .active{
    background:blue;
    color: black;
    border-radius:6px;
    text-decoration: none;
}
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #03d5ff;
    color: black;
    text-align: center;
}
  
footer ul{
    list-style: none
}

.container2{
    width: 100%;
}